/* Ugly, but less ugly than bootstrap's circle borders... */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.dropdown-backdrop {
  display: none;
}