{%- extends "base.html" %}

{% block contents %}
{{super()}}
    
<div class="jumbotron jumbotron-index">
    <div class="jumbotron-background"></div>
    <h1>À propos</h1>
    <p>CvMS - CvM Content Management System</p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Présentation sommaire</div>
    <div class="panel-body">
        <p>Ce projet a été exécuté dans le cadre du cours B65 - Synthèse du programme du DEC intensif en Informatique de Gestion du Cégep du Vieux-Montréal. Ce projet est une première tentative de développement d'un CMS (Content Management System) de type WordPress, réalisé principalement en Python à l'aide du framework Flask.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Présentation sommaire</div>
    <div class="panel-body">
        <p>Ce projet a été exécuté dans le cadre du cours B65 - Synthèse du programme du DEC intensif en Informatique de Gestion du Cégep du Vieux-Montréal. Ce projet est une première tentative de développement d'un CMS (Content Management System) de type WordPress, réalisé principalement en Python à l'aide du framework Flask.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Outils de développement</div>
    <div class="panel-body">
        <p>Le projet se base principalement sur Python 3.5 à l'aide du framework Flask. Les </p>
    </div>
</div>
{%- endblock %}
