{%- extends "base.html" %}

{% block contents %}
{{super()}}
<div class="page-header"><h1>Accueil</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">Lorem ipsum</div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non autem hoc: igitur ne illud quidem. Universa enim illorum ratione cum tota vestra confligendum puto. Itaque his sapiens semper vacabit. Duo Reges: constructio interrete. Ergo id est convenienter naturae vivere, a natura discedere. Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne aliquando amissis illis sit miser. An hoc usque quaque, aliter in vita? </p>

        <p>Illi enim inter se dissentiunt. De hominibus dici non necesse est. Illum mallem levares, quo optimum atque humanissimum virum, Cn. Ita multa dicunt, quae vix intellegam. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. Graece donan, Latine voluptatem vocant. </p>
    </div>
</div>
{%- endblock %}
